@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Ubuntu", sans-serif;
}

nav {
  background-color: #eab62f;
  max-width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 10000;
}

.navbar {
  max-width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
  background-color: #eab62f;
  margin: 0 auto;
}

.nav-brand {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav-brand img {
  width: 50px;
}

.nav-brand p {
  font-size: 20px;
  font-weight: 500;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links a {
  font-size: 16px;
  text-decoration: none;
  font-weight: 400;
  color: black;
}

.nav-links a:hover {
  color: white;
}

/* home */

.home > iframe {
  width: 100%;
  height: 100vh;
}

/* feature */
.feature {
  padding: 100px;
  max-width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
}

.feature-title > h1 {
  color: #eab62f;
}

.feature-body {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.feature-card {
  min-width: 100%;
  height: 250px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  background: linear-gradient(
      to right,
      rgba(151, 49, 49, 1),
      rgba(0, 0, 0, 0.5)
    ),
    url("../assets/lampu.jpg");
  background-size: cover;
  background-position: center 35%;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  transition: background 0.5s ease-in-out;
}

.feature-card:hover {
  background: linear-gradient(rgba(151, 49, 49, 1), rgba(0, 0, 0, 0.5)),
    url("../assets/lampu.jpg");
  background-size: cover;
  background-position: center 45%;
  background-repeat: no-repeat;
}

.feature-card-body {
  padding: 15px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  color: white;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.feature-card-body h1 {
  font-size: 24px;
}

.feature-card-body p {
  font-size: 16px;
  margin-top: 10px;
}

.feature-card-new {
  min-width: 100%;
  height: 250px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  background: linear-gradient(
      to right,
      rgba(151, 49, 49, 1),
      rgba(0, 0, 0, 0.5)
    ),
    url("../assets/knalpot.jpg");
  background-size: cover;
  background-position: center 45%;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  transition: background 0.5s ease-in-out;
}

.feature-card-new:hover {
  background: linear-gradient(rgba(151, 49, 49, 1), rgba(0, 0, 0, 0.5)),
    url("../assets/knalpot.jpg");
  background-size: cover;
  background-position: center 65%;
  background-repeat: no-repeat;
}

.feature-card-new-body {
  padding: 15px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  color: white;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.feature-card-new-body h1 {
  font-size: 24px;
}

.feature-card-new-body p {
  font-size: 16px;
  margin-top: 10px;
}

.feature-detail {
  color: #eab62f;
}

/* modifikasi */
.modifikasi {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 100px;
}

.modifikasi > h1 {
  color: #eab62f;
  margin-bottom: 30px;
}

.modifikasi-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 65px;
}

.modifikasi-title > img {
  width: 200px;
}

.modifikasi-title > p {
  text-align: justify;
}

/* contact */
.contact {
  max-width: 70%;
  padding: 20px 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-form button {
  background-color: #eab62f;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  transition: 0.3s ease-in-out;
}

.contact-form > button:hover {
  background-color: #f48535;
}

.form-title p {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.form-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-body input {
  padding: 10px;
}

.form-body textarea {
  padding: 10px;
}

.contact-information {
  display: flex;
  flex-direction: column;
}

.contact-information p {
  font-size: 16px;
  margin-top: 10px;
}

.contact-information img {
  width: 200px;
  height: 200px;
}

.footer-text {
  text-align: center;
  margin-bottom: 30px;
}

.sosmed {
  display: flex;
  gap: 10px;
  align-items: center;
}

.sosmed > a > img {
  height: 80px;
  width: 80px;
}

@media screen and (max-width: 600px) {
  .navbar {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .home > iframe {
    width: 100%;
    height: 30vh;
  }

  .feature {
    max-width: 90%;
    padding: 10px;
    margin-top: 40px;
  }

  .feature-body {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    margin-top: -5px;
  }

  .modifikasi {
    display: flex;
    margin-top: 40px;
    max-width: 90%;
  }

  .modifikasi-title {
    display: flex;
    flex-direction: column;
  }

  .contact {
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;
    max-width: 90%;
    padding: 10px;
    margin-bottom: 50px;
    margin-top: 10px;
  }
}
